.container {
  width: 600px;  
  margin: 0 auto;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 20px 0;
}

.navLink {
  text-decoration: none;
}

.navLink:active {
  color: #551a8b;
}

.active {
  
  font-weight: bold;
  border-bottom: 2px solid;
}
